* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  background: hsl(0, 0%, 8%);
  color: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: column;
  height: 100dvh;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-size: 14px;
}

.container {
  max-width: 350px;
  background-color: hsl(0, 0%, 12%);
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}
.upper-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}
.profile-picture {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin-bottom: 15px;
}
.info h2 {
  font-size: 1.4rem;
  font-weight: 700;
}
.info .loc {
  color: hsl(75, 94%, 57%);
  font-weight: 600;
  margin-bottom: 20px;
}
.info p{ 
    font-weight: 400;
    margin: 10px 0;
    padding: 5px;
}

.social-links ul{
    list-style: none;
    padding: 0;
}

.social-links li {
  display: block;
  margin: 10px 0;
  background-color: hsl(0, 0%, 20%);
  padding: 10px 0;
  border-radius: 5px;
  font-weight: 600;
}
.social-links li:hover{
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 8%);
    cursor: pointer;
}
